# -------------------------------------------------------------------------------------------------
# HuggingFace libraries
# -------------------------------------------------------------------------------------------------
accelerate                  ==0.33.0
transformers                ==4.41.2
tokenizers                  ==0.19.0
peft                        ==0.10.0

# -------------------------------------------------------------------------------------------------
# Other libraries
# -------------------------------------------------------------------------------------------------
sentencepiece
numpy                      ==1.23.5
pytest                     ==8.3.2
decorator                  ==5.1.1
datasets                   ==2.20.0
pynvml
protobuf                   ==3.20.2
jax
ftfy
notebook
jupyter-server==2.4.0
jupyter_client==8.3.0
jupyter_core==5.3.1
